<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    {{ title }}!
  </h1>
<dx-form [(formData)] ="form">
  <div class="dx-fieldset">
  <div class="dx-fieldset-header">Login</div>
  <div class="dx-field">
      <div class="dx-field-label">Username</div>
      <div class="dx-field-value">
        <dx-text-box mode="username" [(value)]="username">
          <dx-validator>
            <dxi-validation-rule type="required" message="Username is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
  </div>
  <div class="dx-field">
      <div class="dx-field-label">Password</div>
      <div class="dx-field-value">
        <dx-text-box mode="password" [(value)="password"]>
          <dx-validator>
            <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
  </div>
  <div class="dx-field">
    <dx-button text="Login"></dx-button>
    </div>
</div>
</dx-form>
